.card {
  border-radius: 10px;
  margin: 2.8rem 1.6rem;
  overflow: hidden;
}
@media screen and (min-width: 550px) {
  .card {
    display: flex;
    width: 60rem;
    height: 45rem;
  }
}
.card-image {
  display: block;
}
@media screen and (min-width: 550px) {
  .card-image {
    height: 45rem;
    flex: 1;
  }
}
.card-body {
  background-color: var(--white);
  padding: 2.4rem;
}
@media screen and (min-width: 550px) {
  .card-body {
    padding: 3.2rem;
    flex: 1;
  }
}
.item {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 5px;
  color: var(--dark-grayish-blue);
  line-height: 15px;
  margin-bottom: 1.2rem;
}
.parfum-name {
  font-family: var(--ff-fraunces);
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: var(--very-dark-blue);
  margin-bottom: 1.6rem;
}
.parfum-description {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2.3rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 2.4rem;
}
.price-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 3rem;
}
.new-price {
  font-family: -var(--ff-fraunces);
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.2rem;
  color: var(--dark-cyan);
  margin-right: 1.9rem;
}
.old-price {
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 2.3rem;
  text-decoration: line-through;
  color: var(--dark-grayish-blue);
}
