.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 1.8rem;
}
.btn--primary {
  background-color: var(--dark-cyan);
  color: var(--white);
  font-family: var(--montserrat);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7rem;
  width: 100%;
}
.btn--primary:hover {
  background-color: #1a4032;
}
.cart-image {
  width: 1.5rem;
  height: 1.6rem;
  margin-right: 0.5rem;
}
